// GENERAL
// ==================================
html,body
	background white
	color black
	font-family font, sans-serif
	font-size 16px
	height 100%

input, button
  outline none
  box-sizing border-box

button
	background blue
	border 2px solid lblue
	padding 10px 20px

input
	padding 5px
